.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--xc {
        justify-content: center;
    }

    @media (--phone) {
        flex-wrap: wrap;
    }
}

.col {
    @media (--phone) {
        width: 100%;
    }
}

.top-buffer {
    margin-top: 32px;
}

